.home {
    max-width: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
        width: 100%;
    }
    &__subtitle {
        margin-top: 4rem;
        max-width: 50rem;
    }
    &__apply {
        margin-top: 3.2rem;
    }
}
