$color-primary: #2ecfbf;
$color-black: #000000;
$color-white: #ffffff;
$color-blackish: #333333;
$color-darkgray: #75787b;
$color-mediumgray: #a7a8aa;
$color-gray: #d9d9d6;
$color-lightgray: #f2f2f2;
$color-red: #ff3300;

$color-hover: #97e7df;
