.personal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        margin: 2.8rem 0;
        text-align: center;
    }

    &__submit {
        margin-top: 3.2rem;
    }
}
